*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.container__title {
  display: flex;
  justify-content: center;
  margin-top: 40px;

  h1 {
    font-size: 50px;
  }
}

.container__input-btn {
  margin-top: 40px;
  display: flex;
  justify-content: center;

  .container__input {
    input {
      font-size: 25px;
      padding: 5px 10px;
    }
  }

  .container__btn {
    margin-left: 10px;

    button {
      padding: 5px 10px;
      height: 100%;
      cursor: pointer;
    }
  }
}

.container__tasks {
  max-width: 600px;
  margin: 30px auto 0;

  .task {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    //border: 1px solid black;

    .task__check-text {
      display: flex;
      align-self: center;

      .check {
        margin-right: 5px;
      }
    }

    .task__text {
      align-self: center;
      .lineThrough {
        text-decoration: line-through;
        color: green;
      }
    }

    .task__icons {
      align-self: center;
      display: flex;

      .icon:nth-child(1) {
        margin-right: 10px;
      }
    }
  }

  .task:first-child {
    margin-top: 0;
  }
}

.img {
  width: 22px;
  height: 22px;
  cursor: pointer;
  align-self: center;
}